@{
    ViewBag.Title = "Pi of things";
}

<div class="piot-header">
    <div class="container">
        <h1>Pi of things (pre-alpha)</h1>
        <p class="piot-h2 hidden-xs">A platform to help build IoT projects using the Raspberry Pi, C# and Mono</p>
        <p class="hidden-xs"><a href="/Account/Register" class="btn btn-primary btn-lg">Register to join the fun</a></p>
    </div>
</div>
<div class="container" style="padding-top:50px">
    <div class="row">
        <div class="col-md-4">
            <p class="piot-h3">Join</p>
            <p>
                Create an account to manage your Raspberry Pi devices online. 
                
            </p>
            <small>*We are working on the registration process <span style="text-decoration:line-through">, specially setting ourselves up on https</span>. Till then we've disabled the Registration process! 
            We promise to be up and running ASAP!</small>
            <p>
                @*<a class="btn btn-default" href="">Learn more &raquo;</a>*@
            </p>
        </div>
        <div class="col-md-4">
            <p class="piot-h3">Register your Pi</p>
            <p>
                Register each device you may have and install software modules as you need.                
            </p>
            <p>
                Once installation is complete play around with the various options. <br/>
                Today we are ready to help you connect to your GPIO ports to light LEDs, flip 
                relays or communicate with devices that use GPIO. <br/>
                Soon we hope to able to support the whole gamut of Pi extensibility. <br/>
                Our aim is to provide you with a kickstart using your Pi. After that sky's the limit.
            </p>
            @*<p><a class="btn btn-default" href="">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <p class="piot-h3">Tweak and have fun</p>
            <p>
                All the code for <strong>Pi of things</strong> is open source, so once you are done playing with the ready-made modules,
                fork the code, tune it as you like it and have your own setup!!!
            </p>
        </div>
    </div>
</div>